@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
      outline: 1px solid grey !important;
} */



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #181818;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  min-height: 100vh;
}

.link-text {
  @apply relative after:absolute after:bottom-[-5px] after:left-0 after:h-[2px] after:w-full after:bg-[#ffffff];
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #4e5053; 
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: '#181818'; 
}
